<div id="server-ip">
    <h1>Server IP: Akenland.com</h1>
    <p>{{ page.mc_version }}</p>
    <p>Having trouble? Visit our Discord or try server IP <strong>Alt.Akenland.com</strong></p>

    <a target="_blank" rel="noopener noreferrer" href="{{ page.map_url }}">
        <h1>Live Map &#129109;</h1>
    </a>
    <p>Explore Akenland and track your progress on the interactive map.</p>

    <a target="_blank" rel="noopener noreferrer" href="{{ page.discord_url }}">
        <h1>Discord &#129109;</h1>
    </a>
    <p>Chat with players in-game from our Discord server.</p>
</div>
