<div id="server-ip">
    <h1>Server IP: Akenland.com</h1>
    <p>Server is online.</p>
    <p>{{ site.mc_version }}</p>
    <p>Having trouble? Try server IP <strong>Alt.Akenland.com</strong> or join our Discord for more help.</p>

    <a target="_blank" rel="noopener noreferrer" href="{{ site.map_url }}">
        <h1>Live Map &#129109;</h1>
    </a>
    <p>Explore Akenland and track your progress on the interactive map.</p>

    <a target="_blank" rel="noopener noreferrer" href="{{ site.discord_url }}">
        <h1>Discord &#129109;</h1>
    </a>
    <p>Chat with players in-game from our Discord server.</p>
</div>