<nav>
    <ul id="nav-menu">
        <li>
            <a>&#9776; Menu</a>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="https://revival.akenland.com">SMP's Revival resource pack</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/Akenland">Plugins on GitHub &#129109;</a></li>
                <li><a href="rules">Official Rules</a></li>
                <li><a href="help">Server Help</a></li>
            </ul>
        </li>
    </ul>

    <ul id="nav-links">
        <li><a target="_blank" rel="noopener noreferrer" href="{{ site.discord_url }}">Discord</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="{{ site.map_url }}">Live Map</a></li>
    </ul>
</nav>