<nav>
    <ul id="nav-menu">
        <li>
            <a>&#9776; Menu</a>
            <ul>
                <a target="_blank" rel="noopener noreferrer" href="https://revival.akenland.com">
                    <li>SMP's Revival resource pack &#129109;</li>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/Akenland">
                    <li>Plugins on GitHub &#129109;</li>
                </a>
                <a href="rules">
                    <li>Official Rules</li>
                </a>
                <a href="help">
                    <li>Server Help</li>
                </a>
            </ul>
        </li>
    </ul>

    <ul id="nav-links">
        <a target="_blank" rel="noopener noreferrer" href="{{ discord_url }}">
            <li>Discord</li>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="{{ map_url }}">
            <li>Live Map</li>
        </a>
    </ul>
</nav>