#behavior h1, #behavior h2 {
    color: #a0a;
}

#peaceful-zone h1, #peaceful-zone h2 {
    color: #0a0;
}

#pvp-zone h1, #pvp-zone h2 {
    color: #a00;
}

#creative-mode h1, #creative-mode h2 {
    color: #0aa;
}
